/* ベーススタイル */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', sans-serif;
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 共通画面設定 */
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    transform: rotate(90deg);
    transform-origin: center center;
    overflow: hidden;
}

/* 背景画像設定 */
.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* ボタン設定 */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d12e46;
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
}

button:hover {
    background-color: #b31e34;
}

/* スコア表示 */
#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #fff;
}

/* プレイボタン */
#play-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d12e46;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* ゲームキャンバス */
#game-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* メディアクエリ（スマホ向け調整） */
@media (max-width: 600px) {
    #play-button {
        bottom: 10%;
    }

    .background {
        width: 100vw;
        height: 100vh;
    }
}



